<h1>Questions#ask</h1>
<p>Find me in app/views/questions/ask.html.erb</p>

<form action="/answer"> <!-- this is where to go in the router -->
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="query" placeholder="your question">
  <input type="submit" value="Go on!">
</form>
<!-- /answers ?query = somethin%other%things ?laste_name= oliveira -->
